name: CI
on:
  workflow_dispatch:
    inputs:
      magnet:
        description: 'Magnet'     
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Package
        run: sudo apt-get install -y transmission-cli

      - name: Get Data
        run: |
          echo "Magnet: ${{ github.event.inputs.magnet }}" 

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.